# Ignorar arquivos de configuração local do sistema operacional
Thumbs.db
Desktop.ini
.DS_Store

# Ignorar pastas de configuração de IDEs
.vscode/
.idea/

# SEURANÇA CRÍTICA: Ignorar arquivos onde possamos salvar chaves da AWS temporariamente
chaves_aws.txt
credentials
*.env