# Ignorar arquivos de configuração local do sistema operacional
Thumbs.db
Desktop.ini
.DS_Store

# Ignorar pastas de configuração de IDEs
.vscode/
.idea/

# SEURANÇA CRÍTICA: Ignorar arquivos onde possamos salvar chaves da AWS temporariamente
chaves_aws.txt
credentials
*.env

# Ignorar o arquivo de chaves privadas da AWS
config.js

# Arquivos locais do sistema e da IDE
.vscode/
.DS_Store
Thumbs.db
Desktop.ini